<section>
    <div class="container mt-4">

        <div class="row">

            <div class="col-md-6">

                <h2 class="text-center">Edit Products</h2>

                <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="POST">

                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Name" value="{{product.name}}">

                    <label for="" style="font-weight: bolder;">Category</label> <br>

                    <div class="border">
                        <label for="">Mobile </label>
                        <input type="radio" name="category" value="Mobile"><br>
                    </div><br>

                    <div class="border">
                        <label for="">Electronics </label><br>
                        <label for=""> Laptop</label>
                        <input type="radio" name="category" value="Laptop">
                        <label for=""> Camera</label>
                        <input type="radio" name="category" value="Camera">
                        <label for=""> Watch</label>
                        <input type="radio" name="category" value="Watch"><br>
                        <label for=""> Air Conditioner</label>
                        <input type="radio" name="category" value="Air Conditioner">
                        <label for=""> Washing Machine</label>
                        <input type="radio" name="category" value="Washing Machine">
                        <label for=""> Mixer</label>
                        <input type="radio" name="category" value="Mixer">
                        <label for=""> Television</label>
                        <input type="radio" name="category" value="TV"><br>
                    </div><br>

                    <div class="border">
                        <label for=""> Fashion </label><br>
                        <label for=""> Men</label>
                        <input type="radio" name="category" value="Men">
                        <label for=""> Women</label>
                        <input type="radio" name="category" value="Women">
                        <label for=""> Kids </label>
                        <input type="radio" name="category" value="Kids">
                        <label for=""> Foot Wear </label>
                        <input type="radio" name="category" value="Footwear">
                    </div><br>

                    <div class="border">
                        <label for="">Toys</label>
                        <input type="radio" name="category" value="Toys">
                        <label for="">Beauty</label>
                        <input type="radio" name="category" value="Beauty">
                    </div><br>

                    <div class="border">
                        <label for="">Furniture</label>
                        <input type="radio" name="category" value="Furniture">
                    </div><br>

                    <div class="border">
                        <label for="">Home Esential</label><br>
                        <label for="">Cookware & Dining</label>
                        <input type="radio" name="category" value="cookware">
                        <label for="">Kitchen & Home appliances</label>
                        <input type="radio" name="category" value="kitchen"><br>
                        <label for="">Fitness & Sports</label>
                        <input type="radio" name="category" value="fitness">
                        <label for="">Tools & Home Improvement</label>
                        <input type="radio" name="category" value="tools">
                    </div><br>

                    <label for="">Price</label>
                    <input type="text" class="form-control" name="price" placeholder="Price" value="{{product.price}}">

                    <label for="">Description</label>
                    <input type="text" name="description" class="form-control" placeholder="Description"
                        value="{{product.description}}">

                    <label for="">Image</label>
                    <input type="file" class="form-control " name="Image" placeholder="Image"
                        onchange="viewImage(event)">


                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>

            <div class="col-md-6 my-auto ">
                <label for="" class="ml-5 pl-5">Image</label>
                <img src="/product-images/{{product._id}}.jpg" alt="" class="ml-5" id="imgView">
            </div>
            </form>


        </div>
    </div>
</section>

<style>
    label {
        margin-left: 6px;
    }
</style>

<script>
    function viewImage(event) {
        document.getElementById("imgView").src = URL.createObjectURL(event.target.files[0])
    }
</script>